@charset "UTF-8";

/*=====================
  common
=====================*/
:root {
  /* コンセプトカラー */
  --main-color-orange: #e39411;
  --main-color-green: #517830;
  --main-color-blue: #1aa6b4;

  /* 背景色 */
  --header-bg: #fefbf3;

  /* テキストカラー */
  --text-color-primary: #333;
  --text-color-nav: #fefbf3;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  overflow-x: hidden;
}

a {
  display: block;
  width: 100%;
}

/* Layout */

/* Components */

/* Utility */
.pc-only {
  display: block;
}
@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}
/*=====================
  header
=====================*/
.header {
  position: relative;
  background-color: var(--header-bg);
  height: 9.38vh;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 6.94vw;
}
@media (max-width: 768px) {
  .header__inner {
    padding: 0 4.1vw;
  }
}

/* ナビ */
.nav__list {
  display: flex;
  gap: 2.22vw;
}
@media screen and (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.74vh;
  }
}

.nav__link {
  font-size: 1.125rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .nav__link {
    position: relative;
    color: var(--text-color-nav);
    padding-left: 40px;
  }

  .nav__link::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    width: 28px;
    height: 28px;
  }

  .nav__admission::before {
    background-image: url(../images/icon_admission.svg);
  }

  .nav__animals::before {
    background-image: url(../images/icon_animals.svg);
  }

  .nav__guide::before {
    background-image: url(../images/icon_guide.svg);
  }

  .nav__course::before {
    background-image: url(../images/icon_course.svg);
  }

  .nav__news::before {
    background-image: url(../images/icon_news.svg);
  }

  .nav__access::before {
    background-image: url(../images/icon_access.svg);
  }
}

/* ハンバーガーメニュー */
.hamburger-menu,
.hamburger-menu-video,
.hamburger-menu__information {
  display: none;
}
@media (max-width: 768px) {
  /* ハンバーガーメニュー スタイル */
  .hamburger-menu,
  .hamburger-menu__information {
    display: block;
  }

  .hamburger-menu__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 2.84vh 4.1vw;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .hamburger-menu__wrapper.open {
    transform: translateX(0);
  }

  .hamburger-menu {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 200;
  }

  /* ハンバーガーメニュー 下部 */
  .hamburger-menu__information {
    display: flex;
    flex-direction: column;
    gap: 4.74vh;
  }

  /* ハンバーガーメニュー 営業時間 */
  .opening-hours {
    display: flex;
    flex-direction: column;
    gap: 0.95vh;
    color: var(--text-color-nav);
    line-height: 1;
    text-align: center;
  }

  .opening-hours__label {
    font-size: 1rem;
  }

  .opening-hours__time time {
    display: inline-block;
    font-size: 2rem;
    line-height: 1;
  }

  /* ハンバーガーメニュー背景 */
  .hamburger-menu__wrapper.open .hamburger-menu-video-wrapper {
    display: block;
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  .hamburger-menu__wrapper.open .hamburger-menu-video {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }

  .hamburger-menu__wrapper.open .hamburger-menu-video-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 120, 48, 0.7);
    z-index: 1;
  }

  /* ハンバーガーメニューのラインスタイル */
  .hamburger-menu__line,
  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    position: absolute;
    z-index: 101;
    width: 100%;
    background-color: var(--main-color-blue);
    transition: all 0.3s ease;
  }

  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    right: 8px;
    height: 4px;
    content: '';
  }

  .hamburger-menu__line {
    height: 4px;
  }

  .hamburger-menu__line::before {
    top: -12px;
  }

  .hamburger-menu__line::after {
    top: 12px;
  }

  /* ハンバーガーメニューオープン時の挙動 */

  .hamburger-menu.open .hamburger-menu__line {
    background-color: transparent;
  }

  .hamburger-menu.open .hamburger-menu__line::before {
    top: 0;
    transform: rotate(315deg);
  }
  .hamburger-menu.open .hamburger-menu__line::after {
    top: 0;
    transform: rotate(-315deg);
  }
}

/* SNSリスト */
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=====================
  メインコンテンツ
=====================*/
/* FV */
.fv {
  width: 100%;
  height: calc(100vh - 85px);
}

.fv__movie {
  width: 100vw;
  height: calc(100vh - 85px);
  object-fit: cover;
}
