<footer class="footer">
  <div class="footer__inner">
    <div>
      <a href="" class="footer__link">
        <img src="../../assets/images/logo-white.svg" width="186" height="54" alt="Hinata Zoo" class="footer__logo-image" />
      </a>
      <address class="footer__address">
        <p class="footer__address-info">
          〒880-XXXX
          <br />
          宮崎県宮崎市XXXXXXX
        </p>
        <p class="footer__address-info">
          電話番号：
          <a class="footer__address-link footer__address-link--tel" href="tel:+0985123456">0985-12-3456</a>
        </p>
        <p class="footer__address-info">FAX番号：0985-12-3456</p>
      </address>
    </div>

    <div class="footer__social-list">
      <ul class="social-links">
        <li class="social-links__item">
          <a href="" class="social-links__link">
            <img src="../../assets/images/twitter.svg" alt="ツイッター" class="social-links__icon" />
          </a>
        </li>
        <li class="social-links__item">
          <a href="" class="social-links__link">
            <img src="../../assets/images/instagram.svg" alt="インスタグラム" class="social-links__icon" />
          </a>
        </li>
        <li class="social-links__item">
          <a href="" class="social-links__link">
            <img src="../../assets/images/facebook.svg" alt="フェイスブック" class="social-links__icon" />
          </a>
        </li>
        <li class="social-links__item">
          <a href="" class="social-links__link">
            <img src="../../assets/images/youtube.svg" alt="ユーチューブ" class="social-links__icon" />
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer__nav-list">
      <li class="footer__nav-item">
        <a href="admission.html" class="footer__nav-link">入園案内</a>
      </li>
      <li class="footer__nav-item">
        <a href="animals.html" class="footer__nav-link">どうぶつ</a>
      </li>
      <li class="footer__nav-item">
        <a href="guide.html" class="footer__nav-link">施設案内</a>
      </li>
      <li class="footer__nav-item">
        <a href="course.html" class="footer__nav-link">コース</a>
      </li>
      <li class="footer__nav-item">
        <a href="news.html" class="footer__nav-link">ニュース</a>
      </li>
      <li class="footer__nav-item">
        <a href="access.html" class="footer__nav-link">アクセス</a>
      </li>
    </ul>
  </div>
  <!-- /.footer__inner -->
  <small class="footer__copyright">Copyright &copy; 2011 Miyazaki City Phoenix Zoo ALL Rights Reserved.</small>
</footer>
<!-- /.footer -->
