<footer class="footer">
  <div class="container">
    <div class="footer-top flex">
      <address>
        <p class="footer-name">Hinata Zoo</p>
        <p>
          〒880-XXXX
          <br />
          宮崎県宮崎市XXXXXXX
        </p>
        <p>
          電話番号：
          <a href="tel:+0985123456">0985-12-3456</a>
        </p>
        <p>FAX番号：0985-12-3456</p>
      </address>

      <ul class="footer-nav grid">
        <li><a href="about.html">当園について</a></li>
        <li><a href="event.html">イベント情報</a></li>
        <li><a href="">よくある質問</a></li>

        <li><a href="admission.html">入園について</a></li>
        <li><a href="modelcourse.html">モデルコース</a></li>
        <li class="footer-nav__sns">
          公式SNS
          <ul>
            <li class="footer-sns">
              <a href="https://twitter.com/m_phoenixzoo">Twitter</a>
            </li>
            <li class="footer-sns">
              <a href="https://www.instagram.com/phoenixzoo1971/">Instagram</a>
            </li>
            <li class="footer-sns">
              <a href="https://www.facebook.com/mphzoo/?locale=ja_JP">Facebook</a>
            </li>
            <li class="footer-sns">
              <a href="https://www.youtube.com/">YouTube</a>
            </li>
          </ul>
        </li>
        <li><a href="guide.html">施設案内</a></li>
        <li><a href="animals.html">園内の動物たち</a></li>
        <li class="footer-wrap"><div></div></li>
        <li><a href="news.html">ニュース</a></li>
        <li><a href="access.html">アクセス</a></li>
      </ul>
    </div>
    <!-- /.footer-top -->

    <div class="footer-bottom">
      <div class="sns-icon">
        <a href="https://twitter.com/m_phoenixzoo">
          <img src="../../assets/images/twitter.svg" alt="" />
        </a>
        <a href="https://www.instagram.com/phoenixzoo1971/">
          <img src="../../assets/images/instagram.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/mphzoo/?locale=ja_JP">
          <img src="../../assets/images/facebook.svg" alt="" />
        </a>
        <a href="https://www.youtube.com/@miyazakicitychannel8545/featured">
          <img src="../../assets/images/youtube.svg" alt="" />
        </a>
      </div>
      <!-- /.sns-icon -->

      <img src="../../assets/images/logo.svg" width="229" height="82" alt="Hinata Zoo" class="logo" />
      <small>Copyright &copy; 2011 Miyazaki City Phoenix Zoo ALL Rights Reserved.</small>
    </div>
    <!-- /.footer-bottom -->
  </div>
</footer>
<!-- /.footer -->
