<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="./" class="header__link">
        <img src="../../assets/images/logo.svg" width="186" height="54" alt="Hinata Zoo" class="header__logo-image" />
      </a>
    </h1>

    <aside id="js-drawerMenu" class="hamburger-menu__wrapper">
      <div class="hamburger-menu-video-wrapper">
        <video autoplay muted loop playsinline class="hamburger-menu-video">
          <source src="../../assets/images/fv-movie-sp.mp4" type="video/mp4" />
          お使いのブラウザは動画に対応していません。
        </video>
      </div>
      <!-- /.hamburger-menu-video-wrapper -->
      <img src="../../assets/images/logo_hamburger.svg" width="186" height="54" alt="" class="hamburger-menu__logo sp-only" />
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="admission.html" class="nav__link nav__admission">入園案内</a>
          </li>
          <li class="nav__item">
            <a href="animals.html" class="nav__link nav__animals">どうぶつ</a>
          </li>
          <li class="nav__item">
            <a href="guide.html" class="nav__link nav__guide">施設案内</a>
          </li>
          <li class="nav__item">
            <a href="course.html" class="nav__link nav__course">コース</a>
          </li>
          <li class="nav__item">
            <a href="news.html" class="nav__link nav__news">ニュース</a>
          </li>
          <li class="nav__item">
            <a href="access.html" class="nav__link nav__access">アクセス</a>
          </li>
        </ul>
      </nav>
      <div class="hamburger-menu__information"><%- include('../partials/information.ejs') %></div>
      <!-- /.hamburger-menu__information -->
    </aside>

    <button id="js-hamburgerMenu" class="hamburger-menu" aria-label="メニューを開く" aria-controls="js-drawerMenu" aria-expanded="false">
      <span class="hamburger-menu__line"></span>
    </button>
  </div>
  <!-- /.header__inner -->
</header>
<!-- /.header -->
