<div class="opening-hours">
  <span class="opening-hours__label">本日の営業時間</span>
  <p class="opening-hours__time">
    <time datetime="09:00">午前9:00</time>
    ～
    <time datetime="17:00">午後5:00</time>
  </p>
</div>
<%- include('./social-links.ejs') %>
