<ul class="social-links">
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <img src="../../assets/images/twitter.svg" alt="ツイッター" class="social-links__icon" />
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <img src="../../assets/images/instagram.svg" alt="インスタグラム" class="social-links__icon" />
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <img src="../../assets/images/facebook.svg" alt="フェイスブック" class="social-links__icon" />
    </a>
  </li>
  <li class="social-links__item">
    <a href="" class="social-links__link">
      <img src="../../assets/images/youtube.svg" alt="ユーチューブ" class="social-links__icon" />
    </a>
  </li>
</ul>
