<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Keywords" content="宮崎県,宮崎市,宮崎,動物園,遊園地,流れるプール,ひなた,ふれあい,ファミリー" />
    <meta name="description" content="Hinata Zooは宮崎市にある動物園。日本でも珍しいフラミンゴショーを見ることができます。遊園地も併設しており、流れるプールや屋外プールも楽しめます。" />
    <title>Hinata Zoo</title>
    <!-- css -->
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&family=Noto+Sans+Tamil:wght@100;200;300;400;500&family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <!-- js -->
    <script type="module" src="../../assets/js/main.js"></script>
  </head>
  <body>
    <%- include('../partials/_header') %>

    <main><%- content %></main>

    <%- include('../partials/_footer') %>
  </body>
</html>
